/* ==========================================
   FOOTER
========================================== */

.footer{

    background:#08244B;

    color:white;

    padding:80px 0 20px;
}

.footer-logo{

    width:120px;

    margin-bottom:20px;
}

.footer h4{

    color:white;

    margin-bottom:20px;

    font-weight:700;
}

.footer h5{

    color:#D4A017;

    margin-bottom:20px;

    font-weight:700;
}

.footer p{

    color:#d9d9d9;

    line-height:1.8;
}

.footer ul{

    list-style:none;

    padding:0;
}

.footer ul li{

    margin-bottom:12px;
}

.footer ul li a{

    color:#d9d9d9;

    text-decoration:none;

    transition:.3s;
}

.footer ul li a:hover{

    color:#D4A017;

    padding-left:6px;
}

.footer p svg{

    margin-right:12px;

    color:#D4A017;
}

.footer-social{

    display:flex;

    gap:15px;

    margin-top:20px;
}

.footer-social a{

    width:42px;

    height:42px;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    transition:.3s;
}

.footer-social a:hover{

    background:#D4A017;

    color:#08244B;

    transform:translateY(-4px);
}

.footer hr{

    margin:50px 0 25px;

    border-color:rgba(255,255,255,.15);
}

.footer-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:15px;
}

.footer-bottom p{

    margin:0;
}

@media(max-width:768px){

.footer{

text-align:center;

}

.footer-social{

justify-content:center;

}

.footer-bottom{

flex-direction:column;

}

}