:root{

    --primary:#003B5C;
    --secondary:#005F73;
    --accent:#E9C46A;
  
    --success:#2A9D8F;
    --danger:#C1121F;
  
    --white:#ffffff;
    --light:#F5F7FA;
    --dark:#1D3557;
  
  }
body{
    margin:0;
    background:#f5f7fb;
    font-family:'Segoe UI',sans-serif;
}

a{
    text-decoration:none;
}

.card{
    border:none;
    border-radius:12px;
}
.hero-section{

    background:
    linear-gradient(
    rgba(0,51,102,.85),
    rgba(0,51,102,.85)
    ),

    url("/hero-bg.jpg");

    background-size:cover;

    background-position:center;

}