/* ======================================
   SERVICES
====================================== */

.feature-card{
    background:#fff;
    border-radius:20px;
    padding:40px 30px;
    text-align:center;

    height:100%;

    transition:.35s ease;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    border:1px solid rgba(0,59,92,.05);
}

.feature-card:hover{

    transform:translateY(-8px);

    box-shadow:0 30px 60px rgba(0,0,0,.15);

}

.feature-icon{

    width:90px;
    height:90px;

    margin:auto;

    display:flex;

    justify-content:center;
    align-items:center;

    border-radius:50%;

    font-size:34px;

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );

    color:white;

    margin-bottom:25px;
}

.feature-card h4{

    font-weight:700;

    margin-bottom:15px;

    color:var(--primary);
}

.feature-card p{

    color:#666;

    line-height:1.8;
}

.feature-link{

    margin-top:25px;

    color:var(--secondary);

    font-weight:600;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    cursor:pointer;
}