.wempa-password-wrapper{

    display:flex;
    align-items:center;

    border:1px solid var(--color-border);

    border-radius:var(--radius-md);

    transition:var(--transition-normal);

    background:var(--color-surface);

}

.wempa-password-wrapper:hover{

    border-color:var(--color-primary);

}

.wempa-password-wrapper:focus-within{

    border-color:var(--color-primary);

    box-shadow:0 0 0 4px var(--color-primary-light);

}

.wempa-password-wrapper.error{

    border-color:var(--color-danger);

}

.wempa-password-icon{

    padding-left:16px;

    color:var(--color-text-light);

}

.wempa-password-input{

    flex:1;

    padding:14px;

    border:none;

    outline:none;

    background:transparent;

}

.toggle-password{

    border:none;

    background:none;

    cursor:pointer;

    padding:0 16px;

    color:var(--color-text-light);

    font-size:18px;

}